:root {
  --main-font: 'Lobster', cursive;
  --second-font: 'Libre Baskerville', serif;
  --third-font: 'Cinzel', serif;
}

.body {
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: border-box;
  background-color: bisque;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 60px 350px 170px;
  grid-column-gap: 5px;
  grid-template-areas:
    'h h h'
    'n n n'
    'm m m'
    'f f f';
}

.header {
  grid-area: h;
  border: solid 1px black;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(147, 206, 222, 1) 0%,
    rgba(117, 189, 209, 1) 31%,
    rgba(73, 165, 191, 1) 100%
  );
}

.header h1 {
  font-size: 3em;
  line-height: 0em;
  letter-spacing: 0.03em;
  font-family: var(--main-font);
  color: red;
  text-shadow: 1px 2px 3px grey;
}

.header p {
  font-size: 1em;
  font-family: var(--second-font);
  color: white;
  text-shadow: 1px 2px 3px grey;
}

.header img {
  height: 100px;
  width: 100px;
  background-color: transparent;
}

.nav {
  grid-area: n;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid;
  border-color: lightblue;
  padding: 10px;
  background: bisque;
  text-align: center;
}
.button,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.nav .inputField {
  border-radius: 15px;
  box-shadow: 1px 1px 3px 0px #1c1b18;
  background-color: #fff;
  border-radius: 20px;
  border: 1.5px solid #333029;
  display: inline-block;
  color: black;
  height: 30px;
  width: 111px;
  padding: 0px 10px;
  font-family: var(--second-font);
  font-size: 1.1em;
  text-align: center;
}

::placeholder {
  color: lightgray;
  font-size: 0.9em;
  opacity: 1;
}

.nav {
  color: red;
}

.nav .button {
  height: 33px;
  margin-left: 20px;
  box-shadow: 0px 1px 2px 0px #1c1b18;
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: bisque;
  border-radius: 20px;
  border: 1.5px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: bold;
  padding: 4px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.nav .button:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
  color: red;
}

.main {
  grid-area: m;
  background-color: bisque;
  background-image: url('./rope.jpg');
  background-position: right;
  background-repeat: no-repeat, repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--third-font);
}

.main h2 {
  padding: 0;
  margin: 0;
  grid-area: m;
  color: white;
  margin-bottom: 30px;
  width: auto;
  letter-spacing: 0.1em;
  font-family: var(--third-font);
}

.the_word {
  font-size: 2em;
  width: auto;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
  color: white;
}

.guessed_letters {
  font-weight: 800;
  font-size: 2.5em;
  letter-spacing: 0.3em;
  line-height: 0.4em;
}

.lives {
  font-size: 1.2em;
  line-height: 2.5em;
}

.win,
.lose {
  display: none;
}

@keyframes scrollpicture {
  from {
    transform: translateX(-750px);
  }

  to {
    transform: translateX(0px);
  }
}

.win {
  text-shadow: 2px 2px 5px white;
  font-family: var(--main-font);
  position: absolute;
  top: 125px;
  font-size: 6em;
  animation-name: scrollpicture;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.34, 1.12, 0.69, -0.15);
}

.lose {
  color: red;
  text-shadow: 2px 2px 5px white;
  font-family: var(--main-font);
  position: absolute;
  top: 125px;
  font-size: 6em;
  animation-name: scrollpicture;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.34, 1.12, 0.69, -0.15);
}

.lose img {
  height: 250px;
  border-radius: 20px;
}
.win img {
  height: 250px;
  border-radius: 20px;
}

.lose h2 {
  font-family: var(--main-font);
}

footer {
  text-align: center;
  grid-area: f;
  font-size: 1.1em;
  font-family: var(--third-font);
  border: solid 1px black;
}
